.header{
    width: 90%;
    height: 200px;
    background-color: red;
    margin: auto;
}
.header img{
    height: 90%;
    margin:5px;
}

@media only screen and (max-width: 425px) {
 #inputPolje{
     width: 25%;
 }
 #pretrazi{
    width: 19%;
    color: white;
 }
 #navbarName{
    width: 15%;
 }
 #navbar{
    display: flex;
    justify-content: space-between;
}
 #foram{
    justify-content: flex-end;
}
 #services1{
     width: 100%;
     display: flex;
     padding: 0% 15% 0% 15% ;
 }
 #javaScId.card{
    display: flex;
      justify-content: center; 
 }
 #dodajUslugu{
    background-color: green;
 }
 #promijeni{
    background-color: red;
 }
 #brisanje{
    background-color: green;
    color: black;
 }
 #prikazi{
    background-color: yellow;
    color: black;
 }
}


@media only screen and (max-width: 1024px) {
    #inputPolje{
        width: 45%;
    }
    #pretrazi{
       width: 35%;
       color: white;
    }
    #navbarName{
       width: 35%;
    }
    #foram{
        justify-content: flex-end;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
    }
    #services1{
        width: 100%;
        display: flex;
        padding: 0% 15% 0% 15% ;
    }
    #javaScId.card{
         width: 300px;
    }
    #promijeni{
       background-color: red;
    }
    #brisanje{
       background-color: green;
       color: black;
    }
    #prikazi{
       background-color: yellow;
       color: black;
    }
   }


   