.card{
    width: 22rem;
    margin:10px;
}
#services1{
    width: 100%;
    display: flex;
    padding: 0% 6% 0% 6% ;
}
.card-img-top{height:250px}

@media only screen and (max-width: 425px) {
#promijeni{
        background-color: red;
     }
#brisanje{
    background-color: green;
    color: black;
     }
#prikazi{
    background-color: yellow;
    color: black;
     }
#dodajUslugu{
    background-color: red;
     }
#inputPolje{
    width: 40%;
}
#pretrazi{
   width: 25%;
}
#navbarName{
   width: 25%;
}
#foram{
    justify-content: flex-end;
    width: 90%;
}
#navbar{
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0%;
}
 #services1{
    width: 100%;
    display: flex;
    padding: 0% 0% 0% 0% ;
}
.card{
     width: 400px;
     height: 400px;
}
.card-img-top{
    height:350px
}
#javaScId{
    height: 400px;
    width: 500px;
}

#conn{
    height: 400px;
    width: 500px;
}
 
}

@media only screen and (max-width: 1024px) {
   
    #foram{
        justify-content: flex-end;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
    }
    #dodajUslugu{
        background-color: yellow;
        color: black;
     }
    #services1{
        width: 100%;
        display: flex;
        padding: 0% 15% 0% 15% ;
    }
    .card{
         width: 300px;
    }
    #promijeni{
       background-color: green;
       color: white;
    }
    #brisanje{
       background-color: yellow;
       color: black;
    }
    #prikazi{
       background-color: red;
    }
   }

@media only screen and (max-width: 768px) {
   
    #foram{
        justify-content: flex-end;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
    }
    #dodajUslugu{
        background-color: green;
        color: black;
     }
    #services1{
        width: 100%;
        display: flex;
        padding: 0% 20% 0% 20% ;
    }
    .card{
         width: 400px;
         height: 400px;
    }
    .card-img-top{
        height:350px
    }
    #promijeni{
       background-color: green;
       color: white;
    }
    #brisanje{
       background-color: yellow;
       color: black;
    }
    #prikazi{
       background-color: red;
    }
   
   }


   


   