.card{
    width: 22rem;
    margin:10px;
}
#services1{
    width: 100%;
    display: flex;
    padding: 0% 6% 0% 6% ;
}
.card-img-top{height:250px}

@media only screen and (max-width: 425px) {



#inputPolje{
    width: 35%;
}
#pretrazi{
   width: 35%;
   color: white;
}
#navbarName{
   width: 25%;
}
#foram{
    justify-content: flex-end;
    width: 90%;
}
#navbar{
    flex-direction: row;
    flex-wrap: nowrap;
}
#services1{
    width: 100%;
    display: flex;
    padding: 0% 5% 0% 5% ;
    margin: 0%;
}
#javaScId.card{
     width: 300px;
}
 #dodajUslugu{
    background-color: green;
 }
 #services1{
    width: 100%;
    display: flex;
    padding: 0% 20% 0% 20% ;
}
.card{
     width: 400px;
     height: 400px;
}
.card-img-top{
    height:350px
}
 #promijeni{
    background-color: red;
 }
 #brisanje{
    background-color: green;
    color: black;
 }
 #prikazi{
    background-color: yellow;
    color: black;
 }
 
}


@media only screen and (max-width: 1024px) {
   
    #foram{
        justify-content: flex-end;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
    }
    #dodajUslugu{
        background-color: yellow;
        color: black;
     }
    #services1{
        width: 100%;
        display: flex;
        padding: 0% 15% 0% 15% ;
    }
    .card{
         width: 300px;
    }
    #promijeni{
       background-color: green;
       color: white;
    }
    #brisanje{
       background-color: yellow;
       color: black;
    }
    #prikazi{
       background-color: red;
    }
   }



   @media only screen and (max-width: 768px) {
   
    #foram{
        justify-content: flex-end;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
    }
    #dodajUslugu{
        background-color: yellow;
        color: black;
     }
    #services1{
        width: 100%;
        display: flex;
        padding: 0% 20% 0% 20% ;
    }
    .card{
         width: 400px;
         height: 400px;
    }
    .card-img-top{
        height:350px
    }
    #promijeni{
       background-color: green;
       color: white;
    }
    #brisanje{
       background-color: yellow;
       color: black;
    }
    #prikazi{
       background-color: red;
    }
   }


   


   